/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************************ 通用 **********************/
body{
  background-image: url(../img/background.jpg);
  background-position: 10px 100px;
  background-attachment:fixed;
  width: 100%;
  height: 100%;
}
#back{
  width: 1200px;
  margin: auto;
  background-color: rgb(240, 240, 240);
  height: 1000px;
  border-radius:8px;
}
.w{
  width: 1200px;
  margin: auto;
 
}
.clearfix:before,.clearfix:after{
  content:"";
  display:table;
  clear:both;
}

/* header */
#header{
  width: 100%;
  height: 50px;
  background-color: #e0e0e0;
  position: fixed;
  top: 0;
}
#header #date{
  font-size: 16px;
  color: #3b3b3b;
  display: block;
  padding: 15px 0 0 100px;
  width: 500px;
  float: left;
}
#header #log {
  width: 50px;
  font-size: 16px;
  color: #3b3b3b;
  display: block;
  padding: 15px 100px 0 0;
  float: right;
  
}
#header #log a{
  color: #3b3b3b;
  text-decoration: none;
}

/* nav */
#nav{
  padding-top: 60px;
  margin-top: 60px;
}
#nav #logo{
  float: left;
  width: 250px;
  height: 125px;
  margin-left: 60px;
}
#nav .nav{
  float: right;
}
#nav .nav li{
  float: left;
  margin-top: 40px;
}
#nav .nav li a{
  color: #666666;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  font-family: "幼圆";
  padding: 50px 20px;
}
#nav .navline{
  width: 40px;
  height: 2px;
  background-color: #666666;
  margin: auto;
  margin-top: 10px;
  display: none;

}
#nav .nav li:hover .navline{
  display: block;
}
#nav .line{
  width: 1100px;
  margin: auto;
  height: 2px;
  background-color: #666666;
  margin-bottom: 50px;
}
